
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
     
}
p{
    margin: 2%;
    padding: 2%;
    
}
h1{
    font-size:1.75em; 
    margin: 2%;
    padding: 2%;
    background-color: black;
    color: white;
    float:left;
    width: 100%;
} 
h3{
    font-size:1em; 
    margin: 2%;
    padding: .5%;
    background-color: black;
    color: white;
}
.contact{
     font-size:1.5em; 
    margin: 1%;
    padding: .25%;
    background-color: white;
    color: black;
}
.contactp{
    font-size: 16px;
}
.co{
    /* width:306.66px;*/
    width:346.66px;
    float:left;
    margin:20px 40px;
    
}
/*.coRi{ 
    margin-right:0;
    float: right;
}
*/
img{
    padding: 2%;
}
p{
    font-size: 18px;
}


.inner-content{
    width: 100%;
    height: auto;
    z-index: 0;
}

.inner-content p{

    margin-top: -.625em;
    margin-left: 0;
    margin-right: 0;   
}
footer{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    float:left;
}

    .btn button{
    background-color: black;
    color: white;
    border: 2px solid black;
    position: relative;
    left: 2%;  
}

.column h2{
   margin: 2%;
padding:2%;
}
.column p{
   margin: 2%;
padding:2%;
}
/*-- mad libz css */
.madlibz h1{
    padding: 20px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
}
.alert {
    padding: 20px;
    background-color: lightgray;
    color:deeppink;
    font-size: 3em;
}

/*--end of mad libz css */

.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}


/*---------------------imgs-----------------*/
/* For small devices (e.g. smartphones) */
img {
  max-width: 100%;
  display: inline-block;
}
/* For medium devices (e.g. tablets) */
@media (min-width: 420px) {
  img {
    max-width: 100%;
  }
}
/* For large devices (e.g. desktops) */
@media (min-width: 760px) {
  .sliderimages img {
    max-width: 100%;
      
  }}
    

/* ------------end of imgs --------------*/

/* ---    desktop code  ---     */
@media (min-width: 900px) and (max-width: 2500px){
    p{
    margin: 1%;
    padding: 1%;
    }
    
    .extra{
    font-size: 2.5em;   
    } 
    
    .mobilep{
    display: none;
    }
    .aboutartist {
    display: none;
    }
    .desktopabout{
    margin: .0625em;
        margin-bottom: 3.125em;
    }
    .artwork img{
            float: left;
            height: 50%;
            width: 50%;
            margin-top: -5.25em;
            margin-bottom: .625em;
        }
    .artworkp{
    float: left;
    margin-bottom: 5em; 
        margin-top: -2em;
    }
    
    img{
        margin: -1%;
    }
    .artistimage img{
            max-width: 100%;
            max-height: 100%;
            margin: .4%;
        margin-top: -.9375em;
       
             }
   
    .artist h1{
        margin: 2%;
        padding: .5%;
    }
    
   
    .right{
    margin-right:0px;
    /* margin-left: 2em;*/
    width: 50%;
        float: right;
        
    }
    .left{
     /*margin-left:2em;*/
    width: 50%;
        float: left;
       
    }
    .column img{
        width:90%; 
        margin-left:5%;
    }
.co{
    /* width:306.66px;*/
    width:200px;
    float:left;
    margin:20px 50px;
    
}    
.coRi{
    /* width:306.66px;*/
    width:200px;
    float:left;
    margin:20px 20px;
    
}    
} 

/* ------tablet mode---- */
@media (min-width: 780px) and (max-width: 900px){
    .extra{
    display: none;   } 
    mobilep{ 
    margin-top:1.25em;
    }
    .desktopabout{
    display: none;
    }
    
    .artistimage img{
            max-width: 55%;
            max-height: 55%;
             }
   .artwork img{
            float: left;
            height: 50%;
            width: 50%;
        }
    
    .column{
    /* width:306.66px;*/
    width:50%;
    float:left;
    /*margin:1.25em 2em 0.625em 2.5em;*/
   }
    .column img{
        width:90%; 
        margin-left:5%;
    }
    .co{
    /* width:306.66px;*/
    width:450px;
    float:left;
    margin:20px 40px;
    
    }    

}

 
/*  ----   mobile code ---   */

@media (max-width: 680px) { 
    .extra{
    display: none; }
    .mobilep{ 
    margin-top: 1.25em;
    }
    .desktopabout{
    display: none;
    }
    
    column{
    /* width:306.66px;*/
    width:100%;
    float:left;
    /*margin:1.25em 2em 0.625em 2.5em;*/
   }
    .right{
    margin-right:0px;
    /* margin-left: 2em;*/
    width: 100%;
    }
    .left{
     /*margin-left:2em;*/
    width: 100%;
    }
    .right p{
    margin-right: 0px;
    }
    .left p{
        margin-right: 0px;
    
    }
    .co{
    /* width:306.66px;*/
    width:346.66px;
    float:left;
    margin:10px 0px;
    }
    .coRi{ 
    margin-right:0;
        float: left;
        width:346.66px;
    }
    }


/* nav bar--------- */
   
a:link, a:visited, a:hover{
    text-decoration: none;
    }
    a:link{
    color: white;
    }
    a:visited{
    color: lightgray;
    }
    a:hover{
    color: white;
    }
    .active{
    border-bottom: 3px solid #000;
    }

.quote {
    float: left;
    text-align:left; 
    font-size: .75em;
      
}


/* ---------------nav bar-------- */
ul.top-nav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: black;
}
ul.top-nav li{
    float:left;
    margin:0 2.5% 0 5%;
}
ul.top-nav li.icon {
    display: none;
}


@media only screen and (max-width: 680px) {
    ul.top-nav li{
        display: none;
    }
    ul.top-nav li.icon {
        display: inline-block;
        float: right;
    }
}

@media only screen and (max-width: 680px) {
    ul.top-nav li{
        display: none;
    }
    ul.top-nav li.icon {
        display: inline-block;
        float: right;
    }
}
@media only screen and (max-width: 680px) {
    ul.top-nav.responsive {
        position:relative;
    }
    ul.top-nav.responsive li.icon{
        position:absolute;
        right:0;
        top:0;
    }
    ul.top-nav.responsive li{
        float:none;
        display: inline;
    }
    ul.top-nav.responsive li a{
        display: block;
        text-align: left;
    }
}

/* end of nav --- */



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
