body {
    font-size: 14px;
    background: gray;
    color:bisque; 
}

h1 {
    font-size:3em;
    margin: 0;
}

#home {
    color:blue;
    background: black;
    font-size: 2em;
}
#links {
    color:gray;
    background: black;
    font-size: 2em;
}

a {
    color: aliceblue;
}

a:hover {
    color:darkgoldenrod; 
    transition: color 1s ease-in-out; 
}

a:active {
    color: pink;
}

ul a{
    color: yellow;
}
ul{
    padding: 0;
}

li {
    border: 2px dotted;
    margin: .25em;
    display: inline;
}

img{
    width: 100%;
    position: fixed;
}
